<!DOCTYPE html>
<html lang="en">
<head>
    <title>Curriculum</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'css/stilos.css')}}">
    
</head>
<body>
    <!-- SLIDERBAR DEL CURRICULUM -->
    <div class ="slidebar">      
        <img src="static/Imagenes/foto.jpeg" class = "logo"/>
        <h1>Oswaldo Antonio <br> Choc Cuteres</h1>
        <hr>
            <h3 class ="separador">PERFIL</h3>
                <ul>
                    <br>
                    <li>Email &#x2709</li>
                    <h4 class ="textoLi">oswaldo123@gmail.com</h4>

                    <li>Teléfono &#x2706</li>
                    <h4 class ="textoLi">225687000</h4>

                    <li>Dirección</li>
                    <h4 class ="textoLi">Guatemala, Guatemala zona 6</h4>
                    
                    <li>Linkedln</li>
                    <h4 class ="textoLi">linkedln.com/OswaldoChoc</h4>
                </ul>
            <br>
            <hr>
            <h3 class ="separador">IDIOMAS</h3>
                <ul>
                    <br>
                    <li>Ingles</li>
                    <h4 class="textoLi">★★★☆☆</h4>
                </ul>
            <br>


            <h3 class ="separador">HOBBIES</h3>
            <br>
            <ul>
                <li>Música</li>
                <li>Futbol</li>
                <li>Programación</li>
            </ul>
            <br>

            <h3 class ="separador">HABILIDADES</h3>
            <table>
                <tr>
                    <td>1</td>
                    <td>Fluidez de ideas</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Criterio y toma de decisiones</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Originalidad</td>
                </tr>

                <tr>
                    <td>4</td>
                    <td>Aprendizaje activo</td>
                </tr>

                <tr>
                    <td>5</td>
                    <td>Resolución de problemas complejos </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Analisis de sistemas</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Razonamiento deductivo</td>
                </tr>

            </table>
        <br>
    </div>
    
     <!-- PARTE DEL TEXTO DEL CURRICULUM -->

    <div class="Escritura">
        <h1 class ="texto">Datos Personales:</h1>
        <p class ="texto">Estudiante de ingeniería en sistemas con profundo interés por el desarrollo de software. Experiencia en proyectos básicos, Actualmente quiero explorar nuevas oportunidades en el campo de informática. 
        Poseo una fuerte ética de trabajo, capacidad de adaptación y resolución de problemas que creo que pueden ser transferibles a cualquier área. </p>    
        <br>
        
        <h1 class="titulo">EXPERIENCIA LABORAL</h1>
        <div class ="contenedor">

            <div class ="columna1">
                <h4>2016 - 2017</h4>
                <h4 style="margin-top: 130px;">2018 - 2019</h4>
                <h4 style="margin-top: 140px;">2020 - 2023</h4>
                <h4 style="margin-top: 110px;">2020 - 2023</h4>
            </div>
    
            <div class="columna2">
                <h4><strong>IMPRENTA VISUALIZANDO</strong></h4><br>
                <p>Puesto: Operador de maquinas.</p><br>
                <ul>
                    <li>Trabajo de alta presión, horario completo.</li>
                    <li>Distribución de producto.</li>
                </ul><br><br>

                <h4><strong>CODISA</strong></h4><br>
                <p>Puesto: Distribuidor de producto</p><br>
                <ul>
                    <li>Servicio al cliente.</li>
                    <li>Repartidor departamental.</li>
                    <li>Auxiliar de Camion de entregas</li>
                </ul><br><br>

                <h4><strong>Colegio Integral Aprendiendo a Vivir</strong></h4><br>
                <p>Puesto: Maestro de educación media y básica.</p><br>
                <ul>
                    <li>Maestro de matemática</li>
                    <li>Maestro de física fundamental</li>
                    
                </ul><br><br><br>

                <h4><strong>Instituto por Cooperativa Santa Faz </strong></h4><br>
                <p>Puesto: Maestro de educación básica</p><br>
                <ul>
                    <li>Maestro de computación</li>
                    <li>Soporte a computadoras</li>
                    <li>Soporte de la plataforma educativa</li>

                </ul><br><br>
            </div>

            <div>
                <img src="static/Imagenes/maquinas.png" class="imagenFormato"><br>
                <img src="static/Imagenes/repartidor.png" class="imagenFormato"><br>
                <img src="static/Imagenes/mate.png" class="imagenFormato"><br>
                <img src="static/Imagenes/compu.png" class="imagenFormato"><br>
            </div>
        </div>
        <br>
        <h1 class="titulo">EDUCACIÓN</h1>

        <div class ="contenedor">

            <div class ="columna1">
                <h4>2014 - 2016</h4>
                <h4 style="margin-top: 85px;">2017 - 2018</h4>
                <h4 style="margin-top: 93px;">2019 - 2023</h4>
            </div>
    
            <div class="columna2">
                <h4><strong>TÍTULO DE NIVEL BÁSICO</strong></h4>
                <p><em>Instituto nacional Enrique Gomez Carrillo</em></p><br>

                <h4 style="margin-top: 50px;"><strong>TÍTULO NIVEL DIVERSIFICADO</strong></h4>
                <p><em>Instituto Nacional de Bachillerato en Computación</em></p><br>

                <h4 style="margin-top: 50px;"><strong>ESTUDIO NIVEL UNIVERSITARIO</strong></h4>
                <p><em>Universidad de San Carlos de Guatemala, Facultada de ingeniería</em></p><br><br>
            </div>
        </div>
    </div>
</body>
</html>